@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

* {
    box-sizing: border-box;
}


/*Start adding style to content*/

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(24, 24, 24);
    transition: 1s all;
}

.container {
    width: 300px;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 1px;
}


/*Start style to content*/

.result {
    width: 72.5%;
}

input {
    width: 70px;
    padding: 20px;
    margin-bottom: 2px;
    color: rgb(235, 235, 235);
    background-color: #34495E;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 22px;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
    margin-bottom: 2px;
}

input[type=text] {
    background-color: rgb(156, 156, 156);
}

input[type=button]:hover {
    background-color: #283747;
    padding: 2px;
}

#clear {
    background-color: red;
}

#darkmode {
    padding: 15px;
    background-color: black;
    color: whitesmoke;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#darkmode:active {
    background-color: rgb(22, 22, 22);
}